h1,h2,h3,h4,h5,h6 {
  font-family: $primary-font-stack;
}

@media all and (min-width: $nine-hundred) {

  body {
    background: $color-gray-95;
  }
  .overflow-container {
    padding: 0 $column;
    margin: 0 $column;
    background: white;
    border-right: solid 1px $color-gray-93;
    border-left: solid 1px $color-gray-93;
  }
}

@media all and (min-width: $eleven-hundred ) {

  .overflow-container {
    padding: 0 $column * 1.5;
    margin: 0 $column * 1.5;
  }
}